beautifulsoup4==4.6.0
bleach==1.5.0
click==6.7
cycler==0.10.0
enum34==1.1.6
html5lib==0.9999999
Markdown==2.6.9
matplotlib==2.1.1
mecab-python3==0.7
numpy==1.13.3
olefile==0.44
opencv-python==3.3.1.11
Pillow==4.3.0
protobuf==3.5.0.post1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
tqdm==4.19.5
Werkzeug==0.12.2
